<div class="calc-container">
    <app-linha>
        <app-visor [clickedValue]="valorVisor"></app-visor>
    </app-linha>
    <div class="buttons-container">
        <app-linha>
            <app-botao [valor]="'7'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'8'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'9'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'/'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'('" (onClick)="clickPerson($event)"></app-botao>

        </app-linha>
        <app-linha>
            <app-botao [valor]="'4'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'5'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'6'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'*'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="')'" (onClick)="clickPerson($event)"></app-botao>
        </app-linha>
        <app-linha>
            <app-botao [valor]="'1'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'2'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'3'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'-'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'AC'" (click)="limpar()"></app-botao>
        </app-linha>
        <app-linha>
            <app-botao [valor]="'0'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'.'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'%'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'+'" (onClick)="clickPerson($event)"></app-botao>
            <app-botao [valor]="'='" (click)="calcular()"></app-botao>
        </app-linha>
    </div>
</div>